<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title>Chat</title>

</head>
<body onload="connect()">

<div th:insert="~{base :: site_navbar}"></div>

<div class="container">

    <div>
        <div id="sender" th:value="${sender}"></div>
        <div id="recipient" th:value="${recipient}"></div>
        <p>Переписка с <a th:href="@{/users/{id}(id=${recipientId})}" th:text="${recipient}"></a> </p>

        <div id="conversationDiv" class="row mb-4">
            <div class="col-6">
                <input type="text" maxlength="200" id="content" placeholder="Напишите сообщение..." class="form-control"/>

            </div>
            <div class="col-2">
                <button id="sendMessage" onclick="sendMessage()" class="btn btn-primary">Отправить</button>

            </div>
        </div>

        <div id="messages" class="col-8 align-items-center justify-content-center align-self-center">
            <div th:each="message: ${messages}" th:id="${message.getId()}"
                 th:class="'row w-8 '+${message.getOwn() ? 'justify-content-end' : 'justify-content-start'}">
                <div>
                    <div th:class="'row border p-1 rounded justify-content-between ' + ${message.getOwn() ? 'bg-info text-white' : 'bg-light text-dark'}">
                        <!--                        <a th:if="${message.getOwn()}" th:href="@{/profile}" th:text="Me"></a>-->

                        <!--                        <a th:if="${!message.getOwn()}" th:href="@{/users/{id}(id=${message.getAuthor().getId()})}"-->
                        <!--                           th:text="${message.getAuthor().getLogin()}"></a>-->

                        <p th:text="${message.getContent()}" th:id="|content-${message.getId()}|" class="me-1"></p>
                        <div class="align-self-end justify-content-evenly ms-1">
                            <i class="fas fa-pen" th:if="${message.getOwn() && message.getCanEdit()}"
                               th:onclick="|updateMessage(${message.getId}, this)|" role='button'></i>
                            <i class="fas fa-trash" th:onclick="|deleteMessage(${message.getId})|" role='button'></i>
                        </div>
                    </div>
                    <p th:class="'font-italic text-muted ' + ${message.getOwn() ? 'text-right' :'text-left'}"><small th:text="${message.getSentAt()}"></small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/sockjs-0.3.4.js"></script>
<script src="/js/stomp.js"></script>
<script type="text/javascript">

    var stompClient = null;

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
        document.getElementById('response').innerHTML = '';
    }

    let senderLogin = null;
    let recipientLogin = null;

    function connect() {
        initUsersLogin();
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, onConnected);
    }

    function initUsersLogin() {
        senderLogin = document.getElementById("sender").getAttribute("value");
        recipientLogin = document.getElementById("recipient").getAttribute("value");
    }

    const onConnected = () => {
        console.log('Connected');
        console.log(senderLogin)
        stompClient.subscribe(`/user/${senderLogin}/queue/messages`, onMessageReceived);

    }

    const onMessageReceived = (msg) => {
        const data = JSON.parse(msg.body);
        console.log(data);
        if (data.senderLogin === senderLogin || data.senderLogin === recipientLogin) {
            if (data.senderLogin === recipientLogin) {
                setMessageRead(data.id);
            }
            appendReceivedMessage(data);
        }
    }

    function setMessageRead(messageId) {
        var headers = new Headers();
        headers.append("Content-Type", "application/json");
        let url = `/api/v1/messages/${messageId}`;
        fetch(url, {
            method: "PATCH",
            headers: headers
        })
        .catch(ex => console.log(ex));
    }

    function appendSentMessage(message) {
        let messagesDiv = document.getElementById('messages');
        let messageDiv = document.createElement('div');

        messageDiv.setAttribute("id", message.id);
        messageDiv.innerHTML = `
                        <a href="/profile">Me</a>
                        <p>${message.content}</p>
                        <p>${new Date().toLocaleDateString()}</p>
                        <hr>
                        `;
        messagesDiv.prepend(messageDiv);
    }

    function appendReceivedMessage(message) {
        let messagesDiv = document.getElementById("messages");
        let messageDiv = document.createElement('div');
        messageDiv.setAttribute("id", message.id);
        let isNowUser = message.senderLogin === senderLogin;
        let name = isNowUser ? 'Me' : message.senderLogin;
        messageDiv.classList.add('row');
        messageDiv.classList.add('w-8');
        if (isNowUser) {
            messageDiv.classList.add('justify-content-end');
        } else {
            messageDiv.classList.add('justify-content-start');
        }

        let controlDiv = document.createElement('div');
        controlDiv.setAttribute("class", "align-self-end justify-content-evenly ms-1");
        if (isNowUser) {
            controlDiv.innerHTML = `
                <i class="fas fa-pen" onclick="updateMessage(${message.id}, this)" role='button'></i>
                <i class="fas fa-trash" onclick="deleteMessage(${message.id})" role='button'></i>
            `;
        } else {
            controlDiv.innerHTML = `
            <i class="fas fa-trash" onclick="deleteMessage(${message.id})" role='button'></i>
            `
        }

        messageDiv.innerHTML = `
                <div>
                    <div class="row border p-1 rounded justify-content-between ${isNowUser ? 'bg-info text-white' : 'bg-light text-dark'}">
                        <p id="content-${message.id}" class="me-1">${message.content}</p>
                        <div class="align-self-end justify-content-evenly ms-1">
                            ${controlDiv.innerHTML}
                        </div>
                    </div>
                    <p class="font-italic text-muted ${isNowUser ? 'text-right' :'text-left'}"><small>${message.sentAt}</small></p>
                </div>
        `

        messagesDiv.prepend(messageDiv);

    }

    function sendMessage() {
        let content = document.getElementById('content').value;
        if (content && content.trim()) {
            let to = document.getElementById("recipient").getAttribute("value");
            let from = document.getElementById("sender").getAttribute("value");
            let message = {'to': to, 'from': from, 'content': content};
            stompClient.send("/app/chat", {}, JSON.stringify(message));
            document.getElementById('content').value = '';
        }
    }

    function deleteMessage(messageId) {
        url = `/api/v1/messages/${messageId}`

        fetch(url, {
            method: "DELETE"
        })
            .catch(ex => console.log(ex));
        document.getElementById(messageId).remove();
    }

    function updateMessage(messageId, button) {
        console.log("Want to edit: " + messageId);
        console.log(button.getAttribute("class"));
        if (button.getAttribute("class") === 'fas fa-pen') {
            let contentElement = document.getElementById(`content-${messageId}`);
            let updateContentElement = document.createElement("input");
            updateContentElement.setAttribute("type", "text");
            updateContentElement.setAttribute("class", "form-control")
            updateContentElement.setAttribute("value", contentElement.innerText);
            contentElement.parentNode.replaceChild(updateContentElement, contentElement);
            updateContentElement.setAttribute("name", "content");
            updateContentElement.setAttribute("id", `content-${messageId}`)
            button.setAttribute('class', 'fas fa-save');
            button.class = 'fas fa-save'
        } else if (button.getAttribute("class") === 'fas fa-save') {
            let inputContent = document.getElementById(`content-${messageId}`);
            let contentElement = document.createElement("p");
            let updatedContent = inputContent.value;
            contentElement.innerText = inputContent.value;
            inputContent.parentNode.replaceChild(contentElement, inputContent);
            contentElement.setAttribute("name", "content");
            contentElement.setAttribute("name", "content");
            contentElement.setAttribute("id", `content-${messageId}`)
            updateMessageRequest(messageId, updatedContent);

            button.setAttribute('class', 'fas fa-pen');
        }

    }

    function updateMessageRequest(messageId, updatedContent) {
        var headers = new Headers();
        headers.append("Content-Type", "application/json");
        let url = `/api/v1/messages/${messageId}`;
        let messageContent = updatedContent;
        fetch(url, {
            method: "PUT",
            body: JSON.stringify({messageContent}),
            headers: headers
        })
            .catch(ex => console.log(ex));
    }

</script>

</body>
</html>
