<!DOCTYPE html>
<html lang="en">
<head th:insert="base :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title th:text="${community.getName()}"></title>

</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
<div class="container">

    <div th:with="isUser=${#authorization.expression('hasRole(''USER'')')}">
        <div class="row justify-content-center mt-4">
            <i class="fas fa-users fa-5x text-info"></i>
        </div>


        <form th:if="${!isUser}" th:object="${community}"
              th:onsubmit="|updateCommunity(${community.getId()}); return false;|"
              class="col justify-content-center"
        >
            <!-- Name input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="name">Название</label>
                <input th:field="*{name}" type="text" id="name" class="form-control" required/>
            </div>

            <!-- Topic input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="topic">Тема</label>
                <select th:field="*{topic}" name="topic" id="topic" class="custom-select">
                    <option th:each="i : ${ {'IT', 'Music', 'Art', 'News', 'Humour', 'Food'} }"
                            th:value="${i}"
                            th:text="${i}"
                            th:selected="${i == topic}">
                    </option>
                </select>
            </div>

            <!-- AgeLimit input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="age-limit">Возрастной лимит</label>
                <input th:field="*{ageLimit}" id="age-limit" type="number" class="form-control"/>
            </div>

            <!-- CreationDate input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="age-limit">Дата создания</label>
                <input th:field="*{creationDate}" id="creation-date" class="form-control" disabled type="date"/>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Обновить общество</button>
            <button id="delete-button" class="btn btn-danger btn-block mb-4"
                    th:onclick="|deleteCommunity(${community.getId()})|">Удалить сообщество
            </button>
        </form>

        <div th:if="${isUser}" class="col justify-content-center">

            <br>
            <h1 th:text="${community.getName()}" class="text-center"></h1>
            <h3 th:text="|Возрастные ограничения: ${community.getAgeLimit()}|" class="text-center"></h3>
            <div class="justify-content-center row">
                <button id="join-button" class="btn btn-primary mr-4"
                        th:disabled="${community.getBeIn() || !community.getIsSuitForAgeLimit()}"
                        onclick="join()">Вступить
                </button>
                <button id="leave-button" th:disabled="${!community.getBeIn()}" class="btn btn-primary"
                        onclick="leave()">
                    Покинуть
                </button>
            </div>
            <h3 th:text="|Тематика сообщества: ${community.getTopic}|" class="text-center"></h3>
            <h3 th:text="|Дата создания: ${community.getCreationDate()}|" class="text-center"></h3>

        </div>
        <hr>
        <h4>Всего участников: <span id="amount-members" th:text="${community.getMembers().size()}"></span></h4>
        <div id="members">
            <div th:id="${member.getLogin()}" th:each="member : ${community.getMembers()}">

                <a th:href="@{/users/{id}(id=${member.getId()})}" th:text="${member.getLogin()}"></a>
                <p class="font-italic text-muted"><small th:text="${member.getEntryDate()}"></small></p>
            </div>
        </div>

    </div>

</div>
<script>
    async function join() {
        document.getElementById("join-button").setAttribute("disabled", "true");
        document.getElementById("leave-button").removeAttribute("disabled");
        let member = await updateMembership("POST");
        console.log(member);
        console.log(member.login);
        appendMember(member);
    }

    async function deleteCommunity(communityId) {
        const url = `/api/v1/community/${communityId}`
        await fetch(url, {
            method: "DELETE"
        }).catch(ex => console.log(ex))
            .then(data => document.location.href = '/communities');

    }

    function updateAmountMembers(acc) {
        let prevValue = parseInt(document.getElementById('amount-members').innerText);
        document.getElementById('amount-members').innerText = prevValue + acc;
    }

    function appendMember(member) {

        let membersDiv = document.getElementById("members");
        let memberDiv = document.createElement("div");
        memberDiv.setAttribute("id", member.login);
        memberDiv.innerHTML = `
                <a href="/users/${member.id}">${member.login}</a>
                <p class="font-italic text-muted"><small>${member.entryDate}</small></p>
            `;
        membersDiv.prepend(memberDiv);
        updateAmountMembers(1);

    }

    async function leave() {
        document.getElementById("join-button").removeAttribute("disabled");
        document.getElementById("leave-button").setAttribute("disabled", "true");
        let deletedMember = await updateMembership("DELETE");
        console.log(deletedMember.login);
        document.getElementById(deletedMember.login).remove();
        updateAmountMembers(-1);
    }

    async function updateMembership(method) {
        let communityId = parseInt(document.location.href.split("/")[4]);
        let headers = new Headers();
        let url = `/membership/${communityId}`;

        return await fetch(url, {
            method: method,
            headers: headers
        })
            .catch(ex => console.log(ex))
            .then(data => data.json());

    }

    function updateCommunity(communityId) {
        console.log(communityId);
        let name = getValue("name");
        let topic = getValue("topic");
        let ageLimit = getValue("age-limit");

        let updatedCommunity = {
            name: name,
            topic: topic,
            ageLimit: ageLimit,
        }

        console.log(updatedCommunity);
        updateQuery(communityId, updatedCommunity);
        location.href = `/communities/${communityId}`;
    }

    function updateQuery(communityId, updatedCommunity) {
        var headers = new Headers();
        headers.append("Content-Type", "application/json");
        let url = `/api/v1/community/${communityId}`;

        fetch(url, {
            method: "PUT",
            body: JSON.stringify(updatedCommunity),
            headers: headers
        })
            .catch(ex => console.log(ex))
            .then(data => location.href = `/communities/${communityId}`);


    }

    function getValue(name) {
        return document.getElementById(name).value;
    }
</script>
</body>
</html>
