<!DOCTYPE html>
<html lang="en">
<head th:insert="base :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title>Friendship Requests</title>


</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
<div class="container">

    <div id="requests" class="mb-4 mt-4 row">
        <div id="incoming-requests" class="col-6">
            <p>Входящие заявки</p>
            <div th:each="request: ${incomingRequests}" th:id="|${request.getSenderId()}-${request.getRecipientId()}|">
                <a th:href="@{/users/{id}(id=${request.getSenderId()})}" th:text="${request.getLogin()}"></a>
                <span th:text="${request.getStatus()}" class="badge badge-pill badge-info"></span>
                <button class="btn btn-danger" id="remove-friendship-inrequest-button"
                        th:onclick="|deleteFriendshipRequest(${request.getSenderId()}, ${request.getRecipientId()})|">Отклонить
                </button>
                <button class="btn btn-primary" id="add-friend-button"
                        th:onclick="|addFriendship(${request.getSenderId()}, ${request.getRecipientId()})|">Принять
                </button>
                <br>
                <hr>
            </div>
        </div>
        <div id="outcoming-requests" class="col-6">
            <p>Исходящие заявки</p>
            <div th:each="request: ${outcomingRequests}" th:id="|${request.getSenderId()}-${request.getRecipientId()}|">
                <a th:href="@{/users/{id}(id=${request.getRecipientId()})}" th:text="${request.getLogin()}"></a>
                <span th:text="${request.getStatus()}" class="badge badge-pill badge-info"></span>
                <button class="btn btn-danger" id="remove-friendship-outrequest-button"
                        th:onclick="|deleteFriendshipRequest(${request.getSenderId()}, ${request.getRecipientId()})|">Удалить
                </button>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>

<script>
    function goToChat(friendId) {
        console.log(friendId);
        document.location.href = `/chat?friend=${friendId}`;
    }

    function deleteFriendshipRequest(senderId, recipientId) {
        const url = `/api/v1/friendship-request/${senderId}/${recipientId}`
        fetch(url, {
            method: 'DELETE'
        }).catch(ex => console.log(ex));
        removeRequest(senderId, recipientId);
    }

    function addFriendship(senderId, recipientId) {
        const url = `/api/v1/friendship/${senderId}`
        fetch(url, {
            method: 'POST'
        }).catch(ex => console.log(ex));
        removeRequest(senderId, recipientId);
    }
    function removeRequest(senderId, recipientId) {
        document.getElementById(`${senderId}-${recipientId}`).remove();
    }

</script>


</body>
</html>
