<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="POST" action="/login">
        <h2>Вход в аккаунт</h2>

        <p th:if="${loginError}">Пользователь с данными логином и паролем не найден</p>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username-inp">Никнейм</label>
            <input type="text" id="username-inp" class="form-control" name="username" required/>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Пароль</label>
            <input type="password" id="form2Example2" class="form-control" name="password" required/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
        <div class="d-flex justify-content-center">Нет аккаунта? <span style="margin-left: 5px;"><a th:href="@{/registration}"> Зарегистрируйтесь!</a></span></div>
    </form>
</div>
</body>
</html>