<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title>Posts</title>


</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
<div class="container">

    <div class="mt-4 mb-4">
        <form th:if="${#authorization.expression('hasRole(''USER'')')}" action="javascript:addPost()">
            <div class="form-outline mb-4">
                <label class="form-label" for="post-content">Расскажите, как у вас дела</label>
                <textarea maxlength="200" id="post-content" name="post-content"
                          placeholder="Расскажите, как у вас дела" class="form-control"/></textarea>
            </div>
            <input type="submit" value="Создать пост" class="btn btn-primary"/>
        </form>
    </div>
    <div id="posts">
        <div th:each="post: ${posts}" th:id="${post.getId()}" class="post">
            <a th:href="@{/users/{id}(id=${post.getAuthor().getId()})}" th:text="${post.getAuthor().getLogin()}"></a>
            <a th:href="@{/posts/{id}(id=${post.getId()})}">Развернуть</a>
            <i th:if="${post.getIsEditable() || #authorization.expression('hasRole(''ADMIN'')')}"
               class="fas fa-trash" th:onclick="|deletePost(${post.getId()})|" role='button'></i>
            <p th:text="${post.getContent()}"></p>
            <p class="font-italic text-muted"><small th:text="${post.getCreatedAt()}"></small></p>
                <p name="amountLikes" th:text="|Понравилось: ${post.getAmountLikes()}|"></p>
                <i th:if="${#authorization.expression('hasRole(''USER'')')}"
                   th:class="'fa-heart align-self-end '+${post.getIsLiked() ? 'fas' : 'far'}"
                   role="button"
                   th:onclick="|updateLike(${post.getId()}, this)|"></i>
            <hr>
        </div>
    </div>
</div>
<script>
    function addPost() {
        url = "/post"
        var postContent = document.getElementById("post-content").value;
        var headers = new Headers();
        headers.append("Content-Type", "application/json");
        console.log({postContent})
        fetch(url, {
            method: "POST",
            body: JSON.stringify({postContent}),
            headers: headers
        })
            .catch(ex => console.log(ex))
            .then(resp => resp.json())
            .then(data => appendPost(data));
        document.getElementById("post-content").value = "";
    }

    function appendPost(post) {
        let postDiv = document.createElement("div");
        postDiv.setAttribute("id", post.id);
        postDiv.innerHTML = `
                            <a href="/users/${post.author.id}">${post.author.login}</a>
                            <a href="/posts/${post.id}">Развернуть</a>
                            <i class="fas fa-trash" onclick="deletePost(${post.id})" role='button'></i>
                            <p>${post.content}</p>
                            <p class="font-italic text-muted"><small>${post.createdAt}</small></p>
                            <p name="amountLikes">Понравилось: ${post.amountLikes}</p>
                            <i class="far fa-heart" role="button" onclick="updateLike(${post.id}, this)"></i>
                            <hr>
                        `
        document.getElementById("posts").prepend(postDiv)
    }

    function check(element) {
        return element.classList.contains('far')
    }

    function toggleLike(element) {
        if (element.classList.contains('far')) {
            element.classList.remove('far');
            element.classList.add('fas');
        } else {
            element.classList.remove('fas');
            element.classList.add('far');
        }
    }

    function updateLike(id, element) {
        console.log(id);
        var isChecked = check(element);
        toggleLike(element);
        console.log(isChecked);
        var amountLikes = document.getElementById(id).children.namedItem("amountLikes");
        var text = amountLikes.innerText;
        var count = parseInt(text.split(" ")[1])
        var prefix = "Понравилось: "
        amountLikes.innerText = prefix + (isChecked ? count + 1 : count - 1);

        var url = `/likes/${id}`
        fetch(url, {
            method: isChecked ? "POST" : "DELETE"
        })
            .catch(ex => console.log(ex));
        element.c

    }

    function deletePost(postId) {
        url = `/posts/${postId}`

        fetch(url, {
            method: "DELETE"
        })
            .catch(ex => console.log(ex));

        document.getElementById(postId).remove();

    }
</script>
</body>
</html>
