<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form th:action="@{/registration}" th:object="${credentials}" method="POST">
        <h2>Регистрация аккаунта</h2>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username-inp">Логин</label>
            <input th:field="*{login}" type="text" id="username-inp" class="form-control" required/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Пароль</label>
            <input th:field="*{password}" type="password" id="form2Example2" class="form-control" required/>
        </div>

        <!-- FullName input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="full-name">Полное имя</label>
            <input th:field="*{fullName}" id="full-name"  type="text" required/>
        </div>

        <!-- BirthDate input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="birth-date">День рождения</label>
            <input th:field="*{birthDate}" id="birth-date"  type="date" required/>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Адрес электронной почты</label>
            <input th:field="*{email}" id="email"  type="email" required/>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Зарегистрироваться</button>
        <div class="d-flex justify-content-center">Есть аккаунт? <span style="margin-left: 5px;"><a th:href="@{/login}"> Войти!</a></span></div>
    </form>
</div>
</body>
</html>