<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="~{base :: site_navbar}"></div>
<div th:each="user: ${users}">
    <img th:src="@{https://loremflickr.com/50/50}">
    <p th:text="${user.getFullName()}"></p>
<!--    @{/users/{id}(id=${post.getAuthor().getId()})}-->
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getLogin()}"></a>
    <hr>
</div>
</body>
</html>