<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getLogin()}"></title>

</head>
<body>

<div th:with="isNowUser=${#authentication.getName().equals(user.getLogin())}">
    <div th:insert="~{base :: site_navbar}"></div>
    <img th:src="@{https://loremflickr.com/100/100}">

    <form onsubmit="update()" th:object="${user}">
        <h2>Профиль пользователя</h2>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username-inp">Логин</label>
            <input th:field="*{login}" type="text" id="username-inp" class="form-control" th:disabled="${!isNowUser}"} required/>
        </div>

        <!-- FullName input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="full-name">Полное имя</label>
            <input th:field="*{fullName}" id="full-name"  type="text" th:disabled="${!isNowUser}" required/>
        </div>

        <!-- BirthDate input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="birth-date">День рождения</label>
            <input th:field="*{birthDate}" id="birth-date"  type="date" th:disabled="${!isNowUser}" required/>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Адрес электронной почты</label>
            <input th:field="*{email}" id="email"  type="email" th:disabled="${!isNowUser}" required/>
        </div>


        <!-- Submit button -->
        <button th:if="${isNowUser}" type="submit" class="btn btn-primary btn-block mb-4">Обновить</button>
    </form>

    <script>

        function update() {
            let fullName = getValue("full-name");
            let login = getValue("login");
            let birthDate = getValue("birth-date");
            let email = getValue("email");

            let updatedProfile = {
                fullName: fullName,
                login: login,
                birthDate: birthDate,
                email: email
            }

            updateQuery(updatedProfile);
            console.log(updatedProfile);
            return true;
        }

        function updateQuery(updatedProfile) {

            var headers = new Headers();
            headers.append("Content-Type", "application/json");
            let url = `/api/v1/user`;

            fetch(url, {
                method: "PUT",
                body: JSON.stringify(updatedProfile),
                headers: headers
            })
                .catch(ex => console.log(ex));

        }

        function getValue(name) {
            return document.getElementById(name).value;
        }
    </script>
</div>
</body>
</html>