<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="base :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<div th:value="${#authorization.expression('hasRole(''ADMIN'')')}" id="isAdmin"></div>
<div th:insert="~{base :: site_navbar}"></div>

<div class="container">
    <div class="mb-4 mt-4">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <input id="query" type="text" class="form-control" placeholder="Введите запрос">
            </div>

            <div class="col-auto">
                <button class="btn btn-primary" onclick="find()">Поиск</button>
                <button class="btn btn-light" onclick="showAll()">Показать всех</button>
            </div>
        </div>
    </div>

    <div id="users">
        <div th:each="user: ${users}">
            <p name="badge" th:if="${user.getIsFriend()}"><span class="badge badge-pill badge-info" name="pill">В друзьях</span>
            </p>
            <i class="fas fa-user fa-2x text-primary"></i>
            <p th:text="${user.getFullName()}"></p>
            <i sec:authorize="hasRole('USER')" th:class="'fas ' + ${user.getIsFriend() ? 'fa-minus' : 'fa-plus'}"
               role="button" th:onclick="|updateFriendship(${user.getId()}, this)|"></i>
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getLogin()}"></a>
            <hr>
        </div>
    </div>

</div>
<script>

    async function find() {
        let query = document.getElementById("query").value;
        let url = `api/v1/users?name=${query}`;
        let users = await getUsers(url);
        console.log(users);
        appendUsers(users)
    }

    async function getUsers(url) {
        var headers = new Headers();
        headers.append("Content-Type", "application/json");
        return await fetch(url, {
            method: "GET",
            headers: headers
        })
            .catch(ex => console.log(ex))
            .then(data => data.json());
    }

    async function showAll() {
        let url = `api/v1/users?`;
        let users = await getUsers(url);
        appendUsers(users);
    }

    function getDetail(isAdmin, isFriend) {
        console.log(isFriend, !isAdmin);
        if (isFriend && !isAdmin) {
            return '<p name="badge" ><span class="badge badge-pill badge-info" name="pill">В друзьях</span></p>';
        }
        return '';
    }

    function appendUsers(users) {
        let usersDiv = document.getElementById("users");
        usersDiv.innerHTML = '';

        users.forEach(user => {
            let userDiv = document.createElement('div');
            console.log(user.isFriend);
            console.log(isAdmin());
            let detail = getDetail(isAdmin(), user.isFriend);
            console.log(detail);
            let detailAddRemove = isAdmin() ? '' : `
            <i class="fas ${user.isFriend ? 'fa-minus' : 'fa-plus'}" role="button" onclick="updateFriendship(${user.id},this)"></i>
            `;

            userDiv.innerHTML = `
                    ${detail}
                    <i class="fas fa-user fa-2x text-primary"></i>
                    <p >${user.fullName}</p>
                    ${detailAddRemove}
                    <a href="{/users/${user.id}" >${user.login}</a>
                    <hr>
                `
            usersDiv.append(userDiv);
        })
    }

    function isAdmin() {
        return document.getElementById("isAdmin").getAttribute("value") === 'true';
    }

    function isCheck(checkbox) {
        return !checkbox.classList.contains('fa-minus');
    }

    function toggleCheck(element) {
        if (element.classList.contains('fa-minus')) {
            element.classList.remove('fa-minus');
            element.classList.add('fa-plus');
        } else {
            element.classList.remove('fa-plus');
            element.classList.add('fa-minus');
        }
    }

    function toggleBadge(parent, checked) {
        if (checked) {
            let badge = document.createElement('p');
            badge.setAttribute("name", "badge")
            badge.innerHTML = `
                <span class="badge badge-pill badge-info" name="badge">В друзьях</span>
            `;
            parent.prepend(badge);

        } else {
            let badge = parent.children.namedItem("badge");
            badge.remove();
        }
    }

    function updateFriendship(friendId, checkbox) {
        let checked = isCheck(checkbox);
        toggleCheck(checkbox);
        toggleBadge(checkbox.parentElement, checked)
        let method = checked ? "POST" : "DELETE";
        friendshipRequest(method, friendId);
    }

    function friendshipRequest(method, friendId) {
        const url = `api/v1/friendship/${friendId}`

        fetch(url, {
            method: method
        }).catch(ex => console.log(ex));
    }

</script>
</body>
</html>